body{
    background: linear-gradient(to right, #F0F0F0, #D9D9D9);
    color: #333;
}

.container{
    width: 100%;
    height: 300px;
    border-color: rgb(214, 106, 239);
    border-radius: 10px;
    border-style: dotted;
    padding-left: 30px;
    padding-top: 30px;
    font-size: xx-large;
    font-style: oblique;
}

.heading{
    text-align: center;
    font-size: xx-large;
    font-style:oblique;
    color: #101010;
}

.butn{
    
    width: 120px;
    height: 1cm;
    color: black;
    background-color: None;
    border-radius: 35px ;
    font-size: x-large;
    transition: 0 0.3s ease-in;
    cursor: pointer;
}

.butn:hover{
    background-color: rgb(214, 106, 239);
    color: white;
}

#num1, #num2 {
    width: 300px;
    height: 30px;
    padding: 5px;
    font-size: 18px;
}