<!DOCTYPE html>
<html>
    <head>
        <title>CALCULATOR</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <h1 class="heading">CALCULATOR</h1>
        <div class="container">
            NUMBER 1: <input type="number" name="num1" value="num1" id="num1" />
            <br><br>
            NUMBER 2 :
            <input type="number" name="num2" value="num2" id="num2"/>
            <br>
            <br>
            <button class="butn ADD">ADD</button>
            <button class="butn SUB">SUB</button>
            <button class="butn MUL">MUL</button>
            <button class="butn DIV">DIV</button>
            <button class="butn POWER">POWER</button>
            <button class="butn RESET">RESET</button>
            <br>
            <p id="ans">THE OUTPUT</p>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>